extends ../../layout
block content
  //- #{JSON.stringify(result)}
  //- #{JSON.stringify(products)}
  .weui_cells.weui_cells_access
    .weui_panel_hd.level-clear-bor-b 点击可以编辑代理级别
      a.weui_btn.weui_btn_mini.weui_btn_primary.list-add-btn(href='/levels/add') 新增
    - each product in products
      .weui_cell
        .weui_cell_bd.weui_cell_primary
          p.primary-color
           b #{product.name}
      - each rs in result
        - if (rs.productId == product.id)
          a.weui_cell(href='/levels/edit/#{rs.id}')
            .weui_cell_bd.weui_cell_primary
              p #{rs.name}
            .weui_cell_ft #{rs.price}/盒
    .weui_panel_access
      a.weui_panel_ft(href='javascript:void(0);') 查看更多

  script(src='/js/level.js' type='text/javascript')
